.category {
  padding: .5em;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  background-color: var(--color-neutral-light);
}

@media (min-width: 1024px) {
  .category:hover {
    cursor: pointer;
    color: white;
    background-color: var(--color-primary);
  }
}