.header {
  background-color: var(--color-primary);
  background-image: url("/images/bg-header-mobile.svg");
  height: 150px;
}

.main {
  padding: 3.5em 1.5em 1.5em 1.5em;
  background-color: var(--color-neutral-lighter);
}

.content_wrapper {
  display: grid;
  grid-row-gap: 2.5em;
}

.translate {
  transform: translateY(-90px);
}

.job_list {
  display: grid;
  grid-row-gap: 2.5em;
}

@media (min-width: 1440px) {
  .header {
    background-image: url("/images/bg-header-desktop.svg");
  }

  .main {
    padding: 4em 8em 8em 8em;
  }

  .job_list {
    grid-row-gap: 1.5em;
  }
}